<div class="rating-container" (mouseleave)="onStarLeave()">
  
  <div class="stars">
    @for (star of stars; track star) {
      <i class="fa"
         [ngClass]="isStarFull(star) ? 'fa-star' : 'fa-star-o'"
         (mouseenter)="onStarHover(star)"
         (click)="onStarClick(star)">
      </i>
    }
  </div>

  <div class="stats ms-2 text-muted" style="font-size: 0.9rem;">
    <span>{{ averageRating | number:'1.1-1' }}</span>
    <span class="ms-1">({{ votesCount }} głosów)</span>
  </div>

</div>