<div class="container mt-5">
  <h2>Logowanie</h2>
  <form [formGroup]="loginForm" (ngSubmit)="signIn()" autocomplete="off">

    <div class="mb-3">
      <label class="form-label">Login</label>
      <input type="text" class="form-control" formControlName="login"
        [class.is-invalid]="loginForm.get('login')?.invalid && loginForm.get('login')?.touched">

      @if (loginForm.get('login')?.invalid && loginForm.get('login')?.touched) {
      <div class="text-danger small">Login jest wymagany</div>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Hasło</label>
      <input type="password" class="form-control" formControlName="password"
        [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">

      @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
      <div class="text-danger small">Hasło jest wymagane</div>
      }
    </div>

    @if (loginError) {
    <div class="alert alert-danger">Błąd logowania</div>
    }

    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Zaloguj</button>
  </form>
</div>